/* LoginForm.css */
.container {
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.text {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.smallText {
  font-size: 14px;
  color: black;
}

.alreadyRegistered {
  display: flex;
  /* Use flexbox to align items horizontally */
  align-items: flex-end;
  /* Align items vertically center */
  margin-top: 20px;
  /* Add some margin for spacing */
}

.smallText {
  margin-right: 10px;
}

.alreadyRegistered a {
  text-decoration: none;
}

.underline {
  width: 150px;
  height: 2px;
  background-color: #646cff;
  margin: auto;
}

.inputs {
  margin-bottom: 20px;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input img {
  width: 20px;
  margin-right: 10px;
}

.input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgetPassword {
  text-align: right;
  margin-bottom: 10px;
}

.forgetPassword a {
  color: #646cff;
  text-decoration: none;
}

.forgetPassword a:hover {
  text-decoration: underline;
}

.submitContainer {
  text-align: center;
}